@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../../../common/font/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../../../common/font/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../../../common/font/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-style: normal;
}
ul.website_top_menu li {
    display: inline-block;
    margin: 0px 15px;
}
.footer-title {
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
footer.footer-container {
    background: rgba(0, 71, 171, 1);
    border-radius: 50px 50px 0px 0px;
    padding-top: 50px;
}
.button-join .bg-style-white {
    background: #fff !important;
    color: #0047AB !important;
    padding: 12px !important;
    border-radius: 22px !important;
    margin: 0px !important;
}

.footer-box-style {
    background: #fff;
    border-radius: 30px 30px 0px 0px;
    padding: 60px 36px 40px 100px;
    font-family: 'Gilroy-Regular', Arial, sans-serif;
    width: 100%;
    height: 100%;
}
.footer-bottom-container {
    padding: 00px 50px;
}
.Welcome_to_text{
    font-family: 'Gilroy-Regular', Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
span.footer-box-style-title {
    color: rgba(0, 71, 171, 1);
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 7px;
    display: block;
}
.footer-right-box ul li {
    list-style: disc;
    margin-left: 40px;
    font-size: 21px;
    font-family: 'Gilroy-Regular', Arial, sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 16px;
}
.footer-short-text {
    position: absolute;
    bottom: 0px;
}
.home-padding {
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 70px;
}
p.banner_shop_desc {
    font-family: 'Gilroy-SemiBold', Arial, sans-serif;
    color: #000;
    font-size: 21px;
}
.bullet-point::before {
    content: '\2022';
    display: inline-block;
    margin-right: 5px;
    font-size: 46px;
    color: rgba(0, 71, 171, 1);
    bottom: -8px;
    position: relative;
}
  
p.banner_text {
    font-size: 75px;
    line-height: 115px;
    font-weight: 800;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    color: #000;
}
.text-blue{
    color: rgba(0, 71, 171, 1);
}
.ticket-category-bg {
    position: absolute;
    top: -50px;
    right: 50px;
}
.category-items-box {
    position: relative;
}
.find-near-box {
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    color: rgba(0, 71, 171, 1);
    font-weight: 600;
    font-size: 30px;
}
  .find-nearby-section {
    background-image: url("http://localhost:3000/static/media/findnear%20By%20Events.e7b8d9621c008b24d0ae.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px 48px;
    background-position: unset;
    height: 462px;
}
.count-box-title {
    background: linear-gradient(180deg, rgba(0, 71, 171, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-weight: 600;
}
.count-box-count {
    background: linear-gradient(180deg, #0047AB 0%, #6495ED 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-weight: 800;
    float: right;
    margin-right: 33px;
}
.count-box {
    background-image: url(http://localhost:3000/static/media/Rectangle5.7e53b2828f41f97e44da.svg);
    background-size: contain;
    padding: 32px 30px;
    background-repeat: no-repeat;
    background-position: right;
    height: 171px;
    width: 300px;
}
.organizer-name {
    color: rgba(0, 71, 171, 1);
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.event-box-style {
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
}
.event-duration {
    color: rgba(0, 71, 171, 1);
    font-weight: 600;
}
.event-time{
    color: #000;
}
.border-right {
    border-right: 2px solid #cbcbcb;
}

.event-time-area {
    padding-right: 15px;
}
.event-name span {
    color: #000;
    font-size: 23px;
    font-weight: 600;
    display: block;
    margin-top: 23px;
    margin-bottom: 12px;
}
.event-name p {
    font-size: 15px;
    color: #000;
}
.border-top-doted {
    border-top: 4px dashed rgba(0, 71, 171, 1);
}
.location span {
    color: rgba(0, 71, 171, 1);
    font-weight: 600;
    font-size: 14px;
}
.location {
    padding: 13px 0px 0px 7px;
}
.price-section p {
    color: #000;
    font-weight: 600;
    margin-bottom: 0px;
}
.price {
    color: rgba(0, 71, 171, 1);
    font-size: 31px;
    font-weight: 600;
}
.cut-price {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.price-section {
    position: relative;
    top: -25px;
    left: -13px;
}