@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../../../common/font/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../../../common/font/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../../../common/font/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-style: normal;
}

ul.website_top_menu li {
    display: inline-block;
    margin: 0px 15px;
}

.footer-title {
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

footer.footer-container {
    background: rgba(0, 71, 171, 1);
    border-radius: 50px 50px 0px 0px;
    padding-top: 50px;
}

.button-join .bg-style-white {
    background: #fff !important;
    color: #0047AB !important;
    padding: 12px !important;
    border-radius: 22px !important;
    margin: 0px !important;
}

.footer-box-style {
    background: #fff;
    border-radius: 30px 30px 0px 0px;
    padding: 33px 13px 62px 31px;
    font-family: 'Gilroy-Regular', Arial, sans-serif;
    height: 100%;
}

.Welcome_to_text {
    font-family: 'Gilroy-Regular', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    padding-right: 39px;
}

span.footer-box-style-title {
    color: rgba(0, 71, 171, 1);
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 7px;
    display: block;
}

.footer-right-box ul li {
    list-style: disc;
    margin-left: 40px;
    font-size: 16px;
    font-family: 'Gilroy-Regular', Arial, sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 16px;
}

.footer-short-text {
    position: absolute;
    bottom: 0px;
}

.home-padding {
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 70px;
}

p.banner_shop_desc {
    font-family: 'Gilroy-SemiBold', Arial, sans-serif;
    color: #000;
    font-size: 21px;
}
.bullet-point::before {
    content: '\2022';
    display: inline-block;
    margin-right: 5px;
    font-size: 46px;
    color: rgba(0, 71, 171, 1);
    bottom: -8px;
    position: relative;
}

p.banner_text {
    font-size: 60px;
    line-height: 84px;
    font-weight: 800;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    color: #000;
}

.text-blue {
    color: rgba(0, 71, 171, 1);
}

.ticket-category-bg {
    position: absolute;
    top: -59px;
    right: 28px;
    height: auto;
    width: 98px;
}

.category-items-box {
    position: relative;
}

.find-near-box {
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    color: rgba(0, 71, 171, 1);
    font-weight: 600;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.find-nearby-section {
    background-image: url('../../../common/icon/findnearByEvents.png');
}

.find-nearby-section {
    background-size: 100% 360px;
    background-repeat: no-repeat;
    background-position: unset;
    height: 375px;
    width: auto;
}

.count-box-title {
    background: linear-gradient(180deg, rgba(0, 71, 171, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-weight: 600;
}

.count-box-count {
    background: linear-gradient(180deg, #0047AB 0%, #6495ED 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-weight: 800;
    float: right;
    margin-right: 33px;
}

.count-box {
    background-image: url('../../../common/icon/Rectangle5.svg');
    background-size: contain;
    padding: 32px 30px;
    background-repeat: no-repeat;
    background-position: right;
    height: 171px;
    width: 300px;
}

.count-box {
    background-image: url('../../../common/icon/Rectangle5.svg');
    background-size: contain;
    padding: 32px 30px;
    background-repeat: no-repeat;
    background-position: right;
    height: 171px;
    width: 220px;
}

.organizer-name {
    color: rgba(0, 71, 171, 1);
    font-family: 'Gilroy-Bold', Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.event-box-style {
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 1px 3px 5px 0px rgba(217, 217, 217, 0.75);
    -webkit-box-shadow: 1px 3px 5px 0px rgba(217, 217, 217, 0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(217, 217, 217, 0.75);
}

.event-duration {
    color: rgba(0, 71, 171, 1);
    font-weight: 600;
}

.event-time {
    color: #000;
}

.border-right {
    border-right: 2px solid #cbcbcb;
}

.event-time-area {
    padding-right: 15px;
}

.event-name span {
    color: #000;
    font-size: 23px;
    font-weight: 600;
    display: block;
    margin-top: 23px;
    margin-bottom: 12px;
}

.event-name p {
    font-size: 15px;
    color: #000;
}

.border-top-doted {
    border-top: 4px dashed rgba(0, 71, 171, 1);
}

.location span {
    color: rgba(0, 71, 171, 1);
    font-weight: 600;
    font-size: 14px;
}

.location {
    padding: 13px 0px 0px 7px;
}

.price-section p {
    color: #000;
    font-weight: 600;
    margin-bottom: 0px;
}

.price {
    color: rgba(0, 71, 171, 1);
    font-size: 23px;
    font-weight: 600;
}

.cut-price {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
}

.price-section {
    position: relative;
    top: -25px;
    left: -13px;
}

img.ticket-bg {
    width: auto;
    height: 70px;
}

.event-image {
    width: 100%;
}

.event-category-img {
    background: rgba(0, 71, 171, 0.5);
    color: #fff;
    padding: 5px 40px;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 13px;
}

.event-image-part {
    position: relative;
}

.on-img-date {
    position: absolute;
    bottom: -4px;
    right: 10px;
}

.event-title {
    font-size: 57px;
    color: #000;
    font-weight: 600;
}

.event-category-title {
    background: linear-gradient(180deg, rgba(0, 71, 171, 0.35) 0%, rgba(0, 71, 171, 0.0525) 100%);
    border-radius: 6px;
    padding: 8px 42px;
    color: rgba(0, 71, 171, 1);
    font-weight: 600;
    font-size: 22px;
}

.event-banner {
    width: 100%;
}

.desc-sec p {
    color: #000;
    font-size: 16px;
}

.desc-sec .sec-title {
    color: #000;
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 16px;
    display: block;
}

.eventpage-box-style {
    background: linear-gradient(#d5e7ff, white) padding-box, linear-gradient(to bottom, #0047AB, #ffffff) border-box;
    border-radius: 15px;
    border: 2px solid transparent;
    padding: 14px 29px;
}

.right-box-title p {
    color: #0047AB;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 0;
}

.right-box-title p {
    color: #0047AB;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 0;
    border-bottom: 1px solid #6495ED;
}

p.time-box-date {
    text-align: center;
    border: 1px solid #0047AB;
    border-radius: 6px;
    background: #fff;
    padding: 7px 16px;
    font-size: 23px;
    font-weight: 600;
    color: #0047AB;
    margin: 0px 5px;
}

.time-box-text {
    color: #0047AB;
    font-weight: 600;
    font-size: 13px;
}

p.time-box-date {
    border: 1px solid #0047AB;
    border-radius: 6px;
    background: #fff;
    font-size: 23px;
    font-weight: 600;
    color: #0047AB;
    margin: 0px 9px;
    height: 50px;
    width: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 4px;
}

#root {
    background: #fff;
}

.border-botton-devider {
    width: 100%;
    border-bottom: 1px solid #6495ED;
}

.followers-title {
    color: #414141;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
}

.followers-count {
    color: #0047AB;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
}

.follow-btn {
    background: #fff;
    border: 1px solid #0047AB;
    color: #0047AB;
    font-weight: 600;
    padding: 4px 19px;
    border-radius: 9px;
}

.event-page-organizer-deta.d-block {
    color: rgba(0, 71, 171, 1);
    font-weight: 600;
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

p.Ticket-title {
    font-weight: 600;
    color: #0047AB;
    font-size: 18px;
}

.margin-css {
    margin-top: -28px;
}

.cart-btn {
    font-size: 23px;
    height: 33px;
    display: inline-block;
    width: 33px;
    text-align: center;
    border-radius: 11px;
    margin: 2px 7px;
    cursor: pointer;
}

.cart-number {
    font-size: 28px;
    height: 43px;
    display: inline-block;
    width: 43px;
    text-align: center;
    margin-top: 2px;
    border-radius: 11px;
    font-weight: 600;
    color: #000;
}

.cart-minus {
    background: #0047AB;
    color: #fff;
}

.cart-plus {
    background: #0047AB59;
    color: #fff;
}

.dashed-border-devider {
    width: 100%;
    border: 1px dashed #0047ab;
}

.main-title {
    color: #0047ab;
    font-weight: 600;
    font-size: 23px;
}

.font-10 {
    font-size: 10px !important;
}

.ticket-price-area-bg {
    background-image: url('../../../common/icon/Rectangleeventpage.svg');
}

.ticket-price-area-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
}

.subsacribe-box {
    height: 500px;
    width: 100%;
    margin-top: 200px;
    position: relative;
}

.SubscribeBg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.subsacribe-content {
    position: relative;
    z-index: 3;
}

.subsacribe-content {
    padding: 80px 0px 0px 80px;
}

span.Want-to-receive {
    color: #0047AB;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    display: block;
    padding-left: 30px;
}

.subsscribe-box-style img {
    position: relative;
    top: 36px;
}

.footer-input {
    background: linear-gradient(#d3d3d3, white) padding-box, linear-gradient(to bottom, #0047AB, #ffffff) border-box;
    height: 50px;
    width: 300px;
    margin-right: 47px;
    border-radius: 14px;
    padding: 1px 14px;
    border-color: transparent;
    border-width: 1px;

}

.footer-input::placeholder {
    color: #0047AB59;
    /* Set the color you want here */

}

.theme-color {
    color: #0047AB;
}

img.LogoIcon-footer {
    position: absolute;
    z-index: 33;
    right: -99px;
    top: -147px;
    width: auto;
    height: 539px;
}

select.theme-dropdown {
    border: 1px solid #B8B9B9;
    height: 45px;
    width: 200px;
    border-radius: 11px;
    margin-right: 20px;
    padding-left: 9px;
    background: #ffffff !important;
    color: #6495ED;
    position: relative;
}

input.theme-input {
    border: 1px solid #B8B9B9;
    height: 45px;
    width: 350px;
    border-radius: 11px;
    margin-right: 20px;
    padding-left: 15px;
    background: #ffffff !important;
    color: #6495ED;
}

input.theme-input::placeholder {
    color: #6495ED;
}

.event-list-bg {
    background-image: url('../../../common/icon/eventhomebg.png');
}

.event-list-bg {
    background-position: left;
    background-size: 100% 100%;
    height: 1437px;
    background-repeat: no-repeat;
    padding-top: 93px;
    position: relative;
}

.event-title-home img {
    height: auto;
    width: 8px;
    margin-right: 5px;
}

.event-title-home {
    color: #0047AB;
    font-weight: 600;
    font-size: 29px;
    position: absolute;
    top: 13px;
    left: 63px;
}

.left-footer-logo-box {
    padding-right: 30px;
}

.cart-increment-button {
    position: relative;
    top: -12px;
    left: 38px;
}

.mobile-screen {
    display: none;
}

.signup-form-box {
    box-shadow: 0px 0px 5px 3px rgba(219, 219, 219, 0.75);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(219, 219, 219, 0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(219, 219, 219, 0.75);
}

.signup-page-padding {
    padding: 90px 90px 60px 90px;
}

.signup-page-title {
    font-weight: 600;
    font-size: 33px;
}

.login-area {
    background: #F1F2F4;
}

.signup-page-btn {
    background: #006AFF;
    border: none;
    border-radius: 26px;
}

.reset-password-link {
    color: #0150c1;
    font-weight: 600;
}