.deznav {
  background-color: #f1f1f1;
}
.deznav-scroll {
  background: #fff;
  margin: 30px 20px;
  border-radius: 30px !important;
}
.button-border {
  border: 1px solid #0047AB;
  padding: 7px 14px;
  border-radius: 12px;
}
.button-join .bg-style {
  background: #0047AB;
  color: #fff;
  padding: 12px;
  border-radius: 22px;
  margin: 0px;
}